body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cardAnnonce{
  margin-top: 2%;
  height: 95vh;
  position: fixed !important;
  width: 50%;
}

.cardAnnonces {
  margin-top: 2%;
}

.overflowCard {
  max-height: 95vh;
  overflow-y: auto;
}

