@media (min-width: 576px) {

}

@media (min-width: 768px) {
    .advertisement {
        width: 25em;
    }
}

@media (min-width: 992px) {
    .advertisement {
        width: 33em;
    }
}

@media (min-width: 1200px) {
    .advertisement {
        width: 40em;
    }
}

.container {
    background-color: #F8F4E3;
}

.card {
    margin-top: 3%;
}

.advertisement{
    height: 95vh;
    visibility: hidden;
    position: fixed;
    margin-top: 1%;
}